
    <template data-sly-template.tooltip="${@ text}" class="tooltip_modal">
        <input id="temp" type="hidden" value=${text}>
        <script>
            $(document).ready(function () {
                var a = $("#temp").val();
                $.ajax({
                    type: "GET",
                    url: "/bin/getRSSData?url="+ a,
                    success: function (str) {
                        var json = JSON.parse(str);
                        for(var i in json){
                            var title = json[i].title;
                            var descr = json[i].description;
                            var link = json[i].link;
                            var author = json[i].author;
                            var guid = json[i].guid;
                            var pubDate = json[i].pubDate
                            // var result = $("#result")
                            $("#result").append(
                                "<a href=\"" + link + "\">"+
                                "<strong>" + title + "</strong><\a> "+ pubDate+"<br>");

                        }

                    }
                });
            });

            function hide(e) {
                var x = document.getElementById(e)
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

        </script>
    </template>